/* Foto Manuel Amaya */
.foto {
    width: 240px;
    border-radius: 30px;
    box-shadow: 8px 8px;
}

.textHola {
    padding: 6px;
    font-size: 30px;
}

.textManuel {
    padding: 6px;
    font-size: 50px;
}

.desarrollador {
    padding: 6px;
    font-size: 25px;
}

.textoManuel {
    width: 14ch;
    animation: texto 2s steps(18), cursor 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes texto {
    from {
        width: 0
    }
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

/* Sección de presentacion */
.presentacion {
    display: grid;
    place-items: center;
    padding: 108px 10px 120px 10px;
    text-align: center;
    color: lightgray;
    /* background: url('../src/FondoMorado.jpg') center; */
    background-color: #522B5B;
}

/* Sección Sobre Mi */
.sobreMi {
    background-color: rgb(70, 39, 77);
    background-image: url('../src/world.png');
    background-position: center;
    background-size: 500px;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    padding: 160px 50px 160px;
    text-align: center;
    color: #DFB6B2;
}

/* Sección de experiencia */
/* fondo para .experiencia */
.experiencia {
    /*    background: url('../src/FondoMorado2.jpg') center;*/
    background-color: #522B5B;
    background-size: cover;
    display: grid;
    place-items: center;
    padding: 30px;
    text-align: center;
    color: #DFB6B2;
}

/* Experiencia Generation */

.tituloExperiencia {
    display: grid;
    place-items: center;
    padding: 30px;
    text-align: center;
    color: #DFB6B2;
}

.experienciaGeneration {
    padding: 30px;
}

.generation {
    border-radius: 30px;
    box-shadow: 8px 8px;
    width: 50%;
    margin: 30px;
}

/* Experiencia Los Delfines */
.experienciaLosDelfines {
    padding: 30px;
}

.LosDelfines {
    border-radius: 30px;
    box-shadow: 8px 8px;
    background-color: #1b3039;
    padding: 20px;
    width: 50%;
    margin: 30px;
}

/* grid experiencia */
.experiencia {
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: auto auto;

    grid-template-areas:
        'tituloExperiencia tituloExperiencia'
        'experienciaGeneration experienciaLosDelfines';

    height: 100%;
}

.tituloExperiencia {
    grid-area: tituloExperiencia;
}

.experienciaGeneration {
    grid-area: experienciaGeneration;
}

.experienciaLosDelfines {
    grid-area: experienciaLosDelfines;
}

/* media celular */
@media (max-width: 768px) {


    .textHola {
        padding: 4px;
        font-size: 20px;
    }

    .textManuel {
        padding: 6px;
        font-size: 30px;
    }

    .desarrollador {
        padding: 6px;
        font-size: 25px;
    }

    .sobreMi {
        background-size: 650px;
    }

    .foto {
        width: 220px;
    }

    /* media celular expericiencia */
    .experiencia {
        display: grid;

        grid-template-rows: auto auto auto;
        grid-template-columns: auto;

        grid-template-areas:
            'tituloExperiencia'
            'experienciaGeneration'
            'experienciaLosDelfines';

        height: 100%;
    }

    .tituloExperiencia {
        grid-area: tituloExperiencia;
    }

    .experienciaGeneration {
        grid-area: experienciaGeneration;
    }

    .experienciaLosDelfines {
        grid-area: experienciaLosDelfines;
    }

}

/* Scroll */
.seccion {
    scroll-margin-top: 8ex;
}

/* Cards */
.cards {
    display: inline-block;
    padding: 50px 60px;
    border-radius: 20px;
    border: 1px rgba(211, 211, 211, 0.486) solid;
    margin: 40px;
    transition: 0.6s;
    background-color: aliceblue;
    text-align: center;
}

.cards:hover {
    transition: 0.6s;
    box-shadow: 5px 5px 20px lightgray;
}

.cards img {
    transition: 0.2s;
    width: 140px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 2px;
}

.cards:hover img {
    transition: 0.2s;
    outline: 4px solid grey;
}

.cards p {
    color: grey;
}


.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 39, 77);
    ;
    background-image: url(../src/simbolo.png);
    background-repeat: no-repeat;
    background-position: center;
}